[2018-02-04 00:07] ash22194 opened #1 "Height and Width swapped"
The code generates files which sometimes have x,y values > 1. Making the following changes fixes this problem
Line 216: height, width = tmp_img.shape[:2]
Line 221: draw_line(tmp_img, mouse_x, mouse_y, height, width)

Cheers!

[2018-02-04 03:25] Cartucho commented on #1
@ash22194 fixed it! Thanks!

[2018-02-04 03:25] #1 closed

[2018-02-10 00:53] ryukinix opened #2 "The library is compiled without QT support in function displayOverlay"
[code]

[2018-02-10 07:18] Cartucho commented on #2
Could you recompile OpenCV using WITH_QT=ON ?

[2018-02-11 08:54] Cartucho commented on #2
@ryukinix Did it work?

[2018-02-11 09:21] Cartucho opened #3 "New Features Discussion"
The purpose of this tool is to make labeling as easy and fast as possible.

Initial ideas:
- Use pre-labeled images from Yolo v2;
- Video Object Tracking;
- Feature Matching + Homography;
-  Superpixel Segmentation;
- Grabcut Segmentation;

Discuss here your opinions.

[2018-02-15 10:50] INNFINITEMINDS commented on #2
sir!!!
i also getting same erroro please help !!!!
also tell me hoe to solve ethis error ?
also how can we recompile OpenCV using WITH_QT=ON ?

please help !!!!!!!
###############################################
i m using python  3.6.3 version
error !!!!!!!!!!!!!!!!!!!!!!!
OpenCV Error: The function/feature is not implemented (The library is compiled without QT support) in cv::displayOverlay, file

[2018-02-15 13:18] Cartucho commented on #2
@INNFINITEMINDS
How did you install OpenCV? Which method?

I uploaded the [question on StackOverflow](https://stackoverflow.com/questions/48808179/opencv-windows-the-library-is-compiled-without-qt-support-in-function-displayo)

[2018-02-15 14:01] Cartucho commented on #2
@INNFINITEMINDS
Qt has this tutorial on [how to set Qt and OpenCV on Windows](https://wiki.qt.io/How_to_setup_Qt_and_openCV_on_Windows).

[2018-02-16 09:28] MattKleinsmith opened #4 "TypeError: Scalar value for argument 'color' is not numeric"
**Actions:**

[code]

**Error:**
[code]
**Workaround:**

Pull request: https://github.com/Cartucho/yolo-boundingbox-labeler-GUI/pull/5/files

Description: Add `.tolist()` to `color`.

**Environment:**

Ubuntu 16.04, Python 3.6.3, Anaconda 5.0.1, OpenCV 3.4.0

[2018-02-16 12:00] Cartucho commented on #4
Thanks! @MattKleinsmith

[2018-02-16 12:07] #4 closed

[2018-02-16 13:59] MattKleinsmith opened #7 "Can't delete box if created bottom right point first"
Warning: Click the top right point first, if using the current version of the repo.

Solution 1: Swap point_1 with point_2 if point_1 is the bottom right point. This solution will help with the VOC danger mentioned here: https://github.com/Cartucho/yolo-boundingbox-labeler-GUI/pull/6

Solution 2: Modify get_close_icon and draw_close_icon, and any other related functions

[2018-02-16 14:02] Cartucho commented on #7
@MattKleinsmith I noticed this yesterday!
My idea to solve is:
- The bounding box only shows the "delete" button if currently selected
- To select the bounding box we must do a double click

[2018-02-16 14:03] Cartucho commented on #7
Selecting the bbox would also be great since we could later add an option to quickly resize and re-label the bounding box.

[2018-02-16 14:11] Cartucho commented on #7
@MattKleinsmith I will fix this first! I'm working on it!

[2018-02-16 14:35] MattKleinsmith commented on #3
**Video object tracking and feature matching / homography** would increase labeling efficiency a huge amount for those labeling frames from a video. You could label one frame and then get 30 frames labeled for free, for example.

I don't know what "**Use pre-labeled images from Yolo v2**" means. Does this mean use Yolo v2 or another pretrained network to pre-label the images, and then allow the us

[2018-02-16 14:52] Cartucho commented on #3
@MattKleinsmith
What do you think of changing the name of the repo to:
a) SmartLabeling
b) OpenLabeling

The goal of this tool is independent from Yolo so I think it should be changed. And it's better to change in the beginning before starting to get references.

[2018-02-16 14:56] MattKleinsmith commented on #3
Between a and b I prefer b. It seems more welcoming.

[2018-02-16 15:12] MattKleinsmith commented on #2
I installed opencv with pip and things are working for me:

`pip install opencv-python`

My environment:

Ubuntu 16.04, Python 3.6.3, Anaconda 5.0.1

[2018-02-16 16:45] Cartucho commented on #7
@MattKleinsmith
It's done, now we can only delete if we select that bbox, it also deals with multiple bboxes goes for the smaller one:
![screenshot from 2018-02-16 16-39-23](https://user-images.githubusercontent.com/15831541/36318642-5ebc64b4-1338-11e8-983e-e2f90ee04e62.png)

I'm not sure if I thought of all the possible cases, but it is surely more robust now.

[2018-02-17 03:10] #7 closed

[2018-02-22 10:13] INNFINITEMINDS commented on #2
hello!!
i have installed opencv by downloading windows binary and then i use commAND PROPMT TO INSTALL THEM!!

HOW TO SOLVE THIS ERROR??

[2018-02-28 23:28] PTS93 commented on #2
Using pip install opencv-python on Windows 10 seems to install a version that also doesn't have QT support compiled into it.

[2018-03-01 11:37] Cartucho commented on #2
@PTS93 this weekend I will make a video on: "How to Install OpenCV3.4 on Windows with Qt";
I will share it here as soon as I have it.

[2018-03-04 16:05] Cartucho commented on #2
So I managed to install it but it took 4 hours...
Turns OpenCV did not make things easy for Windows users ... :-1:

I decided that I will implement the functions using QT by myself (Zoom in and Zoom out).

It turns out that [OpenCV wants to drop QT](https://github.com/opencv/opencv/wiki/GSoC_2018#8-highgui) anyway.

[2018-03-05 04:53] gmanolak commented on #3
is there a way to erase a box surrounding the object.

[2018-03-05 14:01] Cartucho commented on #3
@gmanolak double click to select the bbox, and then click the x.

[2018-03-21 16:15] andikira opened #13 "FileNotFoundError: [Errno 2] No such file or directory: 'bbox_txt/images\\img3.txt'"
Hello thanks for your work,
but i have some problem. when the UI is open and i try to make bounding box in example image the program got error (Not responding), it says :

 File "D:/andiki/yolo-boundingbox-labeler-GUI-master/run.py", line 105, in save_bb
    with open(txt_path, 'a') as myfile:

FileNotFoundError: [Errno 2] No such file or directory: 'bbox_txt/images\\img3.txt'

i use
spyder 3.2.3

[2018-03-21 16:39] Cartucho commented on #13
@andikira Could you check if it works now? I committed an update

[2018-03-21 16:41] Cartucho commented on #13
![image](https://user-images.githubusercontent.com/15831541/37723589-acb5a830-2d26-11e8-8120-65199afcb59b.png)

[2018-03-21 17:24] andikira commented on #13
@Cartucho You Save My Life Sir !!
Thank you so much for fast response and your help
its work perfectly

[2018-03-21 17:25] #13 closed

[2018-03-22 02:10] INNFINITEMINDS commented on #2
ARE U GOING TO MAKE A VIDEO ON IT ?

[2018-03-22 12:51] Cartucho commented on #2
@INNFINITEMINDS  could you please download the latest release and run that code?

This error shouldn't be occurring anymore. Without QT Zoom doesn't work but the rest works fine.

[2018-03-22 16:22] INNFINITEMINDS commented on #2
again i have tried and i m geting same error!!
error as follows >:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

OpenCV Error: The function/feature is not implemented (The library is compiled without QT support) in cv::displayOverlay, file D:\Build\OpenCV\opencv-3.3.1\modules\highgui\src\window.cpp, line 528
Traceback (most recent call last):
  Fi

[2018-03-22 16:33] Cartucho commented on #2
@INNFINITEMINDS  are you sure you are using the latest release code? Your error message shows otherwise. E.g:  "" + str(last_img_index), 1000) is not in line 37 .

[2018-03-23 04:26] INNFINITEMINDS commented on #2
can u please  make a video on it i m unabel to start this:..i m getting same error

[2018-03-23 04:27] INNFINITEMINDS commented on #2
i have insatalled python 3 on windows with the help of anaconda
now what should i have to do to run your script ?
help required

[2018-03-28 16:30] INNFINITEMINDS opened #15 "how can i convert the text files to yolo darkflow version xml files ?"

[2018-03-28 16:37] Cartucho commented on #15
I never used darkflow, what do you mean?
Please provide some description.

[2018-03-29 05:30] INNFINITEMINDS commented on #15
for tarining our own data by using darkflow (it iss a tensorflow implememtaion of darknet) so after annoataing images and generating text file how can we convert that to xml file for training purpose ?

[2018-03-29 12:57] Cartucho commented on #15
ok, got it. But what is the structure required for those xml files?

[2018-03-29 16:50] andikira commented on #15
i'm noob in computer vision, but i'll try to answer your question
I think you can try using labelimg in this repo https://github.com/tzutalin/labelImg
i hope @Cartucho labelbox can generate xml file to

[2018-03-30 02:24] Cartucho commented on #15
@INNFINITEMINDS  you already have the txt files and want to convert to xml ones right? I can help you with that, just give me some details on how the xml's are structured

[2018-03-30 02:49] INNFINITEMINDS commented on #15
the below xml file generated for single class /for single object for example to detect single objectt like fidget spiiner in image

==================
here is the xml generated file::

<annotation>
  <folder>images</folder>
  <filename>000000013.png</filename>
  <segmented>0</segmented>
  <size>
    <width>312</width>
    <height>151</height>
    <depth>3</depth>
  </size>
</annotation>

[2018-04-20 20:12] arvind-cp commented on #2
I was getting this error with png images but works fine with jpg.

[2018-04-21 13:05] arvind-cp commented on #2
Right. Thx.

[2018-06-02 17:23] n5ken opened #17 "Image not load when pressing "D" on MacOS"
I am using Mac High Sierra v10.13.2 when I press "D" to the next page, the track bar moves to the next item but the image is still the previous one, it works well on Ubuntu.

[2018-06-02 18:31] Cartucho commented on #17
And changing the class, for example, works? Pressing "W" or "S"

[2018-06-15 09:42] anamissblonde opened #18 "output"
How are the bbox defined at the output?

[2018-06-15 11:38] Cartucho commented on #18
In the YOLO format:
`<object-class> <x> <y> <width> <height>`

Where x, y, width, and height are relative to the image's width and height.

[2018-07-05 12:37] bhavykhatri commented on #15
@INNFINITEMINDS Can you give your text file format. I will see if I can convert them into xml file.

[2018-08-10 19:02] robsalasco commented on #17
+1 I have this bug too! hope you can fix it :)

[2018-08-10 20:05] Cartucho commented on #17
@robsalasco thank you for your report! Are you also using a Macbook?

[2018-08-10 21:19] robsalasco commented on #17
@Cartucho yep I'm using macOS too

[2018-08-19 09:31] jatinmandav commented on #15
Hi @INNFINITEMINDS ,
Hope this will do the task.! [generating XML files from .txt files.](https://github.com/Cartucho/OpenLabeling/pull/21)

[2018-09-05 23:41] steeler18 opened #24 "bug on deleting bounding box?"
I am not sure if this is a bug or by design.

(1) When I selected an existing bounding box by double clicking inside its area, the box was selected and the delete button appeared at its upper right corner. At this point _prev_was_double_click_ was set to True.
(2) Then I clicked on the delete button, _prev_was_double_click_ was set to False and this is "Finish double click" according to the commen

[2018-09-06 00:00] Cartucho commented on #24
That definitely sounds like a bug! I will fix it tomorrow!

[2018-09-06 10:59] Cartucho commented on #24
Hello, it should be working now! Could you please give it a try?
You can update it by using `git pull origin master` in the terminal or clone it again.

[2018-10-05 20:15] steeler18 opened #25 "bug on variable comparison"
In the function delete_selected_bbox(), when comparing counter and selected_bbox, "!=" should be used instead of "is not". Otherwise, some bounding boxes cannot be deleted.

[2018-10-17 21:44] rcabg commented on #3
Hey @Cartucho and @MattKleinsmith,

I'm working on the video tracking feature. I have something but I need some feedback before continuing. Should I create a pull request and discuss there?

Cheers!

[2018-10-18 06:31] #15 closed

[2018-10-18 06:31] #24 closed

[2018-10-18 06:34] Cartucho commented on #3
Hello @rcabg that would be great! Please make it a separate PR.

I have also made a draft version so we could merge them together and hopefully find a way for adding that feature.

[2018-10-25 18:50] ehsanfathi77 opened #28 "How to change the label of the selected box?"
How can I select a box and change the label without drawing an new box?

[2018-10-28 09:35] Cartucho commented on #28
Hello, currently that is not possible. But I will be adding that feature.
I will let you know when ready.

[2018-10-29 15:46] seanthegreat7 commented on #28
I just added a pull request #29 which adds this ability.

[2018-10-29 20:08] seanthegreat7 opened #30 "Mouse cursor delay"
is there a way to decrease the mouse cursor delay?

[2018-10-30 10:52] Cartucho commented on #30
Hey, I just added a parameter for the delay.

I reduced the default delay from `50` to `20` milliseconds.

[2018-11-02 18:15] Cartucho commented on #30
In my case it did. So there are two sources of delay:

1. The wait for the keyboard (this one we can just tune it as we want)
2. The processing it takes to load the image, draw the lines and the boxes.

Images are getting re-drawn every single time, so with large images (high resolution), this can cause a significant delay.

[2018-11-24 16:02] Cartucho commented on #28
Issue solved. Just press `w` or `s` with the bounding box selected.

[2018-11-24 16:02] #28 closed

[2018-11-24 16:02] #30 closed

[2019-01-13 19:09] BahaaMansour opened #33 "can't zoom in and out"

[2019-01-13 19:38] BahaaMansour commented on #33
latest version
what is QT?

[2019-01-14 13:45] Cartucho commented on #33
So you are using version `4.0.1`. Which OS are you using? How did you install it... with `pip install`?

[2019-01-23 07:12] vuthede opened #37 "A one-click event is trigger by double click event, which cause the program work not as expected."
1> When I double-click at a bounding box, then _is_bbox_selected_ is set to **True**
2> Right after that, a one-click event is trigger automatically, and  _is_bbox_selected_  is set to **False**
I found 2 solutions for that:
First: Using timer as mentioned on this https://stackoverflow.com/questions/21373110/how-to-distinguish-between-click-and-double-click-in-opencv
Second: I changed the code a b

[2019-01-23 09:55] Cartucho commented on #37
Hello, thanks for your feedback.
Why do you say that it causes the program to work not as expected? In terms of usability, what were you expecting?

[2019-01-23 10:37] vuthede commented on #37
Yeah, I have tried to select a bbox, and then change the class of this bbox
But as I said,  when I double-click to select a bbox,  the parameter **is_bbox_selected** is turn into True and immediately is turned into False because a one-click event is triggered also.
The color of bbox is changed only if **is_bbox_selected** is True,  which never happen.

[2019-01-23 11:32] Cartucho commented on #37
That's weird... On my computer:

1. I double click and bounding box gets selected (it should show the `x` button)
![image](https://user-images.githubusercontent.com/15831541/51603699-741d8c80-1f02-11e9-9d9c-fb9e20e4f0aa.png)

2. I press `w` or `s` and the class changes
![image](https://user-images.githubusercontent.com/15831541/51603710-7c75c780-1f02-11e9-96f2-1d795ef3f1da.png)

In your computer s

[2019-01-23 16:10] vuthede commented on #37
Sorry for late reply.
yeah, in my computer, the bbox automatically de-selects itself and  don't even see the red x button.
I have tried to uninstall my  opencv 3.4.3 and quick install the 3.2.0 instead, then the problem is resolved.

[2019-01-23 16:24] Cartucho commented on #37
Does the problem remain with 3.2.0? I would actually recommend going to the newest version the `4.0.0.21`

[2019-01-24 02:43] vuthede commented on #37
It is so weird now,
If using 3.2.0 this problem is resolved
If using 4.0.0.21, the problem is raising a gain.

[2019-01-24 09:50] sakthigeek commented on #33
Any fix to Zooming in and zooming out? I'm using python 3.6, opencv-contrib-3.4 on windows.

[2019-01-24 11:32] Cartucho commented on #3
Yes! That was on my TODO list haha! great!
Make a PR and I will test and help you out.

[2019-01-24 11:34] Cartucho commented on #37
Gosh, I will try with other OpenCV versions (in 3.3.1 it works).
It may be the case that it is an OpenCV bug.

[2019-01-24 11:38] vuthede commented on #3
Yeah, i will clean code a bit and will make a pull request!
Have u planned to intergrate the Tracker with state-of-the-art deep learning object detection model to help us reduce manually lableing as much as possible.
Like we may have some very long video(a whole day for instance) and we want to let the program label automatically for us. Then we can re-label after that.

[2019-01-24 11:40] Cartucho commented on #33
Hello! So to summarize OpenCV is planning on dropping the QT requirement and implement their own Zoom In and Zoom Out (they announced it as a GSoC project).

If you wanted to use QT on Windows you would have to manually install OpenCV instead of using `pip install` but that would be an arduous task.

I am planning on dropping the OpenCV interface and move it to [tkinter](https://docs.python.org/3/

[2019-01-25 00:35] vuthede commented on #37
yeah i think so!

[2019-01-25 00:36] vuthede commented on #3
I have made  a pull  request of click-drag-resizing. Would you mind to take a look?

[2019-01-25 05:04] #37 closed

[2019-01-26 12:50] AbhijitSridhar opened #40 "Outputs not being written"
My output files are still blank even after performing labelling. When I restart the program, on the gui I can still see my old labels, however the corresponding text files are empty

[2019-01-27 03:57] vuthede commented on #40
It is so weird. My corresponding text files are not empty like yours.
I think It  may be a minor bug of the code, which sometimes cause problem in case someone use different version of opencv or environment (Linux, Window.). I use opencv 4.0 and Linux.

[2019-01-27 04:02] AbhijitSridhar commented on #40
I use opencv3 and Linux. My problem is that some of the text files are being written, while the majority are left blank. I labelled around 500 images yesterday only to find out later that only around 10-20 have the proper data in the text file. All the others are empty

[2019-01-27 12:33] Cartucho commented on #40
@vuthede I am also curious. In my computer seems to work fine, but probably there is a bug.

[2019-01-27 12:42] vuthede commented on #40
yeah @Cartucho , In my computer, it seems work fine too, I think there may some cases that the code did not cover.

[2019-01-31 03:44] AbhijitSridhar commented on #40
Okay so I'm using python 3.6 and opencv 3.3. So I reduced my number of classes from 5 to 2 and now it works with no problem.
Another thing I noticed is when I was trying to label for 5 classes, the only files being written were 0,1,10,100,1000,1001.txt Not sure if this is an indicator of the problem or something else

[2019-02-01 13:07] Cartucho commented on #3
@vuthede Now with the resizing we can improve a lot the video tracker (so that when one resizes it re-adjusts the other associated labels).

[2019-02-01 15:59] Cartucho commented on #3
Instead of having to click twice per bounding box, e.g.:
 1. `click: left-top`
 2. `click: right-bottom`

the user could click only once and drag the mouse, e.g.:
 1. `click : left-top`
 2. `move mouse with click 1 still pressed`
 3. `release click 1`.

[2019-02-01 17:08] Cartucho commented on #40
`0,1,10,100,1000,1001.txt` ohhhhh this explains a lot! I think the problem is with the name of your images.

The images are sorted so 0, 1, 10, 100 is how python will sort your files by the standard. I changed the sorting to what's called `natural_sort` a more human-like sorting. Please give it a try.

If this is the case you indeed labeled the images, you were just opening the wrong files.

[2019-02-10 16:08] vuthede opened #45 "Bug in click-drag resizing"
I have found a minor bug on click-drag resizing.
The steps are:
+ Label the bboxes (more than one bbox)
+ Press 'p' to predict next frames
+ Click-drag resize on one of labelled bbox -> Bug in here.
Please see this video for the bug
https://drive.google.com/file/d/1jG3DBnOdGQ6mOEuH048M4oEC1DkWNto9/view?usp=sharing

[2019-02-10 17:12] Cartucho commented on #45
Hello! I just [solved it](https://github.com/Cartucho/OpenLabeling/commit/05d7f8a3b2244cd6626be302a67d4d48895a434a).

Basically, it was selecting the wrong one.

[2019-02-10 17:28] Cartucho commented on #40
@AbhijitSridhar could you please confirm that it is working now?

[2019-02-10 17:29] #25 closed

[2019-02-11 03:50] vuthede commented on #45
Hello! Yeah! thanks, i tried it again, it work smoothly!

[2019-02-14 11:42] AbhijitSridhar commented on #40
It works perfectly for two classes. When I first tried, I had 5-6 classes and faced this issue. I didn't change the file naming convention when trying for two classes

[2019-02-15 12:50] tarasevich-dmitry opened #46 "Can`t caprure small objects"
Hello,
I can't capture some small objects with bounding box, it's just impossible to set it.  However when I try a bit bigger box (that is out of size of my object) it works, looks like it is some limit. See screens attached.
Any suggestions?

OpenCV version '3.4.5'

![4-44](https://user-images.githubusercontent.com/26335004/52857627-612c5f80-3130-11e9-8a41-e2f509c9c722.png)
![15 14-45-23](https:/

[2019-02-15 13:09] vuthede commented on #46
Hi @tarasevich-dmitry , I think you can adjust the minimize **threshold** of bounding box.
![screenshot from 2019-02-15 20-07-14](https://user-images.githubusercontent.com/19920599/52858749-98fdcc00-315d-11e9-95d5-fc24a6accf55.png)

[2019-02-15 13:19] tarasevich-dmitry commented on #46
@vuthede Thanks for advice!
But as it was mentioned in comment, is it some errors may occur with small size boxes?

[2019-02-15 13:31] vuthede commented on #46
No problem! I think there would not be an  actual error when the bbox was small.
I guess the author of code just want to avoid some cases. For example, we draw some **very small** "wrong" bbox due to unexpected mouse-click event and we can not see it because it is very small.

[2019-02-15 13:50] tarasevich-dmitry commented on #46
Ok, thanks ones again!
Guess I can close this issue now

[2019-02-15 14:00] #46 closed

[2019-02-23 21:27] reeldata opened #47 "GOTURN Tracker not working"
When I change GOTURN tracker in main.py, run the program, select a bounding box, and press 'p', the program crashes with the following error message:
`Traceback (most recent call last):
  File "main.py", line 1084, in <module>
    label_tracker.start_tracker(json_file_data, json_file_path, img_path, obj, color, annotation_formats)
  File "main.py", line 846, in start_tracker
    tracker.init(self.

[2019-02-24 21:02] #47 closed

[2019-02-25 14:21] Gamesherd224 opened #48 "Predicted frame error"
Sometimes when switching between frames with predicted bounding boxes, I get this error
Traceback (most recent call last):
  File "main.py", line 1007, in <module>
    tmp_img = draw_bboxes_from_file(tmp_img, annotation_paths, width, height)
  File "main.py", line 344, in draw_bboxes_from_file
    tree = ET.parse(ann_path)
  File "<string>", line 62, in parse
  File "<string>", line 38, in parse
c

[2019-02-25 16:45] fybonacci opened #49 "tracker"
Hi!
I would like to use the tracker feature. Does it work now?
If yes, how can I apply tracking for video, please.

Thank you.

[2019-02-25 18:39] Gamesherd224 commented on #49
All you have to do is put a bounding box around one object, and then press p on the keyboard. It will automatically predict where the object is in the following frames. Look at the readme for more info,

[2019-02-26 02:25] Gamesherd224 commented on #48
I now deleted that frame and the error disappeared, however, I am curious about why the error appeared.

[2019-02-26 09:09] #49 closed

[2019-03-29 00:28] Gamesherd224 commented on #48
Should I close this since this is not a problem anymore?

[2019-03-29 09:03] Cartucho commented on #48
Hello! I am very sorry for the late response.

So I believe you had two `\n` in that file.

Do you still have that file with you? The one that was giving this error?

If you could give that information I could make sure that this will not happen again.

[2019-03-29 09:03] #45 closed

[2019-03-29 09:04] Cartucho commented on #40
Hello @AbhijitSridhar can I close this issue? I think I solved it

[2019-03-29 09:06] Cartucho commented on #33
Hello guys, I have good news OpenCV is now removing the QT dependency in Google Summer of Code 2019. This issue will be fixed by this summer.

[2019-03-29 09:06] #18 closed

[2019-03-29 09:11] Cartucho commented on #47
Hello! Sorry that I was not able to help you. Did it had to do with the OpenCV version?

[2019-03-29 09:16] Cartucho commented on #46
Hello, yeah @vuthede is right, I added to avoid creating bounding boxes by mistake, since we don't have a "go back" or `ctrl + z`  feature yet. I will reduce the threshold from 20 to 10!

[2019-03-29 15:14] reeldata commented on #47
Hey, thanks for checking in.

No, it had to do with the fact that I hadn't properly set up OpenCV to run GOTURN. I got it to work in the end after doing that properly, but it turns out that GOTURN didn't cut it for the data I had to label (lots of very similar densely packed objects).

I actually ended up writing a wrapper class for the DaSiamRPN tracking model (https://github.com/foolwood/DaSiamR

[2019-03-29 21:25] Cartucho commented on #47
Hello! This repo is not restricted to OpenCV if you have a better alternative and we can find a way to use it here we can add it!  :1st_place_medal:

And then it is up to the user to choose between using the OpenCV trackers or another one.

[2019-03-31 01:34] Gamesherd224 commented on #48
I still have the file but I have deleted that frame since then and changed the labels since then. I don't remember if I changed anything else, unfortunately. The name of the file is 'WIN_20190225_07_22_46_Pro', it is 4.63 MB. There is another video file there named 'WIN_20190330_10_20_46_Pro', but this is not the video with the error. Unfortunately, I do not think that any other piece of informati

[2019-03-31 21:04] Cartucho commented on #48
Ok, I think it was a matter of a `\n` but it's really hard to tell without that information.
Anyway, I am glad that you were able to fix it.

[2019-03-31 21:04] #48 closed

[2019-04-05 14:37] chris3240 commented on #17
Same with me. I can change the classes, but not the images. However, labeling files get created for each image

[2019-04-06 17:43] Cartucho commented on #17
Can you try changing in the code to another letter?
` pressed_key == ord('d')`,

for example, you could try changing it to ` pressed_key == ord('e')`

[2019-04-09 08:44] chris3240 commented on #17
Doesn't change anything. If I press D, the bar of the selected image is moving, but the same image is displayed. Yesterday it somehow worked for one try, but after that I had the same issue. Can't reproduce this

[2019-04-09 08:47] chris3240 commented on #17
I get a message in my console "OpenCV: Couldn't read video stream from file "input/.DS_Store"". I'm trying to label .jpg images, no video frames.

[2019-04-09 09:05] n5ken commented on #17
You can try my workaround to remove call back from `cv2.createTrackbar(...)`

[2019-04-09 09:06] n5ken commented on #17
I tried before but with no luck

[2019-04-09 10:57] chris3240 commented on #17
Okay, I found out, that only the Key Listener seems to not work. As soon as I use the Keys (which one I use doesn't matter) the image is not changing, but if I drag the bar, the image changes. Also, if I press the Key to change the image too often the program crashes with

 which indeed is no longer in my list of classes

[2019-04-09 11:15] chris3240 commented on #17
Okay, I think I found the solution. I call `set_img_index(img_index)` after decreasing, or increasing the key right before `1035: cv2.setTrackbarPos(TRACKBAR_IMG, WINDOW_NAME, img_index)`

[2019-04-09 16:12] calebjacksonhoward opened #52 "PASCAL_VOC XML reporting wrong image size"
The XML files output from OpenLabeling are off by a pixel in x and y for many of the images.  (This caused tensorflow to crash out reporting a size mismatch when I was running with dhSegment.)

[2019-04-09 18:57] Cartucho commented on #17
cool! so it works now?

[2019-04-09 18:58] Cartucho commented on #52
so I should add 1 to x and 1 to y, right?

[2019-04-09 22:29] calebjacksonhoward commented on #52
Not in all cases.  Sometimes the resolution was correct, and sometimes it was off.

[2019-04-10 07:34] Cartucho commented on #52
so you think it is a rounding error?

[2019-04-10 07:44] Cartucho commented on #17
@n5ken @chris3240 do you think you could give it a try now? (maybe re-clone the repo in another directory)

[2019-04-10 08:33] chris3240 commented on #17
Yeah, it works. Thanks for providing this tool and your help!

[2019-04-11 08:44] #17 closed

[2019-04-11 08:45] Cartucho commented on #52
Do you think you could provide me a concrete example? So that I can try to figure out what is going on (:

[2019-04-11 08:45] #40 closed

[2019-04-11 13:20] calebjacksonhoward commented on #52
It does act like a roundoff error.  I will see if I can come up with an example.  Unfortunately, the documents in working with are the proprietary property of a client, so I can't just send you the failure I experienced.

[2019-04-11 15:22] Cartucho commented on #52
I understand (:

[2019-04-22 10:13] LmSys opened #53 "Terminating on not latin input"
Program terminating on non latin input, in my case it was cyrillic.

[code]

[2019-04-23 09:58] Cartucho commented on #53
Hello, thank you for letting me know.
Since we used OpenCV as the GUI we are currently limited to ASCII characters.

[2019-05-02 16:26] Shreenivasjh opened #54 "To Save What is detected"
Is there any option such that if a person is detected then its should be saved in a file. Such that we can use the saved file to open a house gate(or door) when person is detected nearby using sensors

[2019-05-04 14:19] Cartucho commented on #54
Hello, this tool is for labeling images and not an object detector.
If you want to implement that you will need to train and object detector for the person class.

[2019-05-05 08:30] Shreenivasjh commented on #54
Sir we wanted to detect fruits and other objects which is already trained in your project.
We wanted to detect an object and send that detected value to Raspberry Pi. Can this be done? Or is it possible ??

[2019-05-05 11:28] Cartucho commented on #54
Yes, it can be done. But again, not with this tool.

[2019-05-05 13:35] Shreenivasjh commented on #54
Thanks a lot sir.

[2019-05-05 13:35] #54 closed

[2019-05-24 05:37] buddhapuneeth opened #55 "Error on main.py"
$ python main.py
Traceback (most recent call last):
  File "main.py", line 971, in <module>
    cv2.createTrackbar(TRACKBAR_IMG, WINDOW_NAME, 0, last_img_index, set_img_index)
cv2.error: OpenCV(3.4.5) /io/opencv/modules/highgui/src/window_QT.cpp:1223: error: (-27:Null pointer) Max value of the slider must be bigger than 0 in function 'addSlider2'

[2019-05-24 05:55] buddhapuneeth commented on #55
resolved after changing image names.

[2019-05-24 05:55] #55 closed

[2019-06-01 09:47] fogx opened #57 "Issues installing project after DaSiamRPN Update"
Hey, thanks for this great project.

I was trying to use this tool today and noticed some errors:
- Since the update adding the DaSiamRPN, the installation now requires pytorch to run, as well as to download the correct DaSiamRPN. This is not a big issue, should be added to the installation guide though.
- The dasiamrpn.py file uses "torch.load(f)" which fails in its current state when no CUDA GPU

[2019-06-01 11:03] tomasr8 opened #59 "Draw bounding boxes based on the Darknet YOLO format"
Hello,
we use OpenLabeling in a team of students to label image data and we use the
Darknet YOLO format. Recently, I wanted to check some labeled images using this tool, but I found out
that the bounding boxes use the `PASCAL_VOC` folder by default. Since I only have the Darknet data, the `PASCAL_VOC` folder gets auto-populated with empty files, meaning that no bounding boxes get shown even though

[2019-06-01 14:32] Cartucho commented on #57
Thank you, I will make the DaSiamRPN tracker not the default one.

[2019-06-01 14:43] Cartucho commented on #59
Oh yeah, that would be great!

Ideally, the code would check if the two folders have the same bounding boxes or not. And if not it should create the appropriate file instead of creating an empty one.

Anyway, I agree with you! We should have an `argsparse` parameter where one can set if they want to draw from `PASCAL_VOC` or from `YOLO_darknet`.

[2019-06-01 17:32] tomasr8 commented on #59
Awesome! What name should the paremeter have? Something like `--draw-dir` or maybe `--bbox-dir`?

[2019-06-02 10:48] Cartucho commented on #59
`--dar-dir` is more clear about what it does in my opinion

[2019-06-03 19:05] WillJStone opened #60 "Possible feature: button to remove frame from data set"
When labeling frames of a video it is a common occurrence to have some frames with nothing in them that you want to label. Would be nice to have a button that removes a selected frame from the data set (including its .xml/.txt file). Any interest in this?

[2019-06-08 10:09] Cartucho commented on #60
Yes.

Do you think when we remove the selected frames we should also split the video into two? I am thinking about the case where it could crash the tracker.

[2019-06-08 15:20] WillJStone commented on #60
Yes that makes sense to me. Since we know there is nothing in that frame for the tracker to track it would make sense to explicitly tell it to stop when it gets to that point.

[2019-06-24 15:06] fogx opened #61 "save button freezes program"
the save button completely freezes the tool (indefinitely). Changes are saved, but the program has to be forced to close

[2019-06-25 13:47] enesyuceyurt commented on #59
Could yo

Could you give more explanations on how you do this? Maybe a sample code? I tried to change the function draw_bboxes_from_file but I am having a lot of problems.

[2019-07-15 15:03] YeetMasterYeet opened #62 "load bouding boxes from previous images."
hi, i have a small suggestions to enhance open labelling, for video usage the frame boxes are basically the same, i suggest that we should add a feature that allows to load the bouding boxes from the previous frame and add a button to move the box around so that it become muc hquicker the treat data from videos.
cordially.

[2019-07-21 06:00] roryw10 opened #63 "Camvid dataset format?"
Any chance we could get camvid style dataformat as a feature? Essentially masks exported as PNG with category level labels for each pixel ?

[2019-08-13 09:18] #57 closed

[2019-08-22 08:34] VytautasDV commented on #3
Hi, would be awesome if there would be an option to disable dragboxes. It's super frustrating to mark objects close to one another, because dragboxes get in the way.

[2019-08-24 14:25] VytautasDV commented on #3
It would be cool if there would be an option to choose from what file draw_bboxes_from_file method draws the boxes. .xml or .txt

[2019-08-24 15:05] Cartucho commented on #3
@VytautasDV one of the users said he would submit a PR for this #59

[2019-08-24 15:05] Cartucho commented on #59
@tomasr8 any update on this?

[2019-08-31 08:28] OzgunKB commented on #33
I installed OpenCV. Zoom does not work.

[2019-09-02 07:45] fogx commented on #62
you can use a tracker to track multiple frames rapidly. Once the tracker diverges from the target just delete that frame and all following get deleted as well.

[2019-09-14 12:26] OzgunKB opened #64 "DaSiamRPN files not found."
How to solve?

Error: DaSiamRPN files not found. Please run the following command:
        git submodule update --init

[2019-09-14 14:36] Cartucho commented on #64
Run this `git submodule update --init` on the terminal.

[2019-10-03 20:33] VytautasDV opened #65 "Ability to disable second click functionality for drawing boxes"
To disable the need for second click to finish drawing the box would be good if people use tablets or any other touch device.

[2019-10-03 20:37] #65 closed

[2019-10-03 20:37] VytautasDV commented on #3
Ability to disable second click functionality for drawing boxes for people who use touch devices.

[2019-10-30 03:11] zhangqinghao0811 commented on #62
Yes, I can't agree with you any more. It's very useful for tracking a motionless object, as DaSiamRPN tracker is not stable sometimes.

[2019-10-30 04:31] zhangqinghao0811 commented on #62
Look this [example](https://drive.google.com/open?id=1LUnmwYxddG3yP4ycDJYZMWSNqJGD4y3-), the turck is motionless, but the tracker's prediction is unstable.

[2019-10-30 07:36] fogx commented on #62
the example is restricted, i can't see it. You might have to try some of the other trackers then. I prefer the CSRT Tracker

[2019-10-31 02:33] zhangqinghao0811 commented on #62
Sorry, try this [link](https://drive.google.com/file/d/1LUnmwYxddG3yP4ycDJYZMWSNqJGD4y3-/view?usp=sharing), thanks for your advise, I'll try.

[2019-10-31 05:51] zhangqinghao0811 commented on #3
Both of moving box bound key and dragging image key are mouse right key, it's clashes. I think using mouse middle button to drag image is more convenience.

[2019-11-02 13:19] fj0n commented on #64
I tried this out two, but it didn't work for. Also reinstalled all the necessary packages according to the requirements.txt

I use git in Version2.15.0

I'm thankful for every idea! :)

[2019-12-26 09:30] maayanYa commented on #33
Hi ,
The tool is great ! But the zoom in/out problem is critical in large images annotation task.
Is this issue will be fixed soon ?

Thank You

[2020-01-08 20:01] Mewiss opened #66 "Load Labels from external files"
Hi!

I'm working on labeling multiple images with a team, so I receive their *.txt files with the labels. The problem is when I try to watch the marks from an external PC, so I copy the .txt file in the output folder, I can't see this when I run OpenLabeling. Does it use PASCAL files to draw? Is there any way I can load my label's data to OpenLabeling?

Thanks!

[2020-01-08 20:48] Cartucho commented on #66
Hello!

Yeah, currently it is using the ones from PASCAL to draw.
Previously someone mentioned that they would implement the code for it to draw from the YOLO format as well (https://github.com/Cartucho/OpenLabeling/issues/59). But I guess that user got busy and never had time for it.

If I have time this week, I will implement it myself and I will let you know.

[2020-01-09 13:33] Mewiss commented on #66
Thanks for your answer.
I implemented it as follow:

First, I modified method **draw_bboxes_from_file**
[code]

Also, I created **get_txt_object_data** method
[code]

Finally, note that it requires an **import csv**

Maybe it would be great to incorporate it with a flag in order to select which kind of file is read.

Regards!

[2020-01-09 13:50] Cartucho commented on #66
Wonderful! `csv` is a standard library so no problem in importing that.

I will add it to the main code with a flag!

[2020-01-12 20:16] Cartucho commented on #66
Done! based on your code, I added that functionality! I made it so it would not need that extra library to be imported. Thanks again.

[2020-01-12 20:16] #66 closed

[2020-01-12 20:16] #59 closed

[2020-01-12 20:16] #64 closed

[2020-01-17 14:22] 783767 commented on #64
I did as stated and from the image below, after Running `git submodule update --init` in terminal, no luck

Duplicate of #64
![Screenshot from 2020-01-17 16-19-19](https://user-images.githubusercontent.com/20387421/72619259-91ced780-3945-11ea-94b2-5214825b2bc7.png)

[2020-01-28 23:51] germanolira opened #68 "ImportError: cannot import name 'get_subwindow_tracking' from 'utils'"
C:\Users\dolan\Downloads\OpenLabeling-master\main>python main.py
Traceback (most recent call last):
  File "C:\Users\dolan\Downloads\OpenLabeling-master\main\dasiamrpn.py", line 16, in <module>
    from DaSiamRPN.code.run_SiamRPN import SiamRPN_init, SiamRPN_track
  File "C:\Users\dolan\Downloads\OpenLabeling-master\main\DaSiamRPN\code\run_SiamRPN.py", line 11, in <module>
    from utils import ge

[2020-02-03 16:17] #68 closed

[2020-02-26 15:55] skrish13 commented on #49
how to predict on series of images?

[2020-03-16 14:17] Cartucho commented on #49
@skrish13 just draw a bounding box and press `p` on the keyboard

[2020-04-12 12:54] BFascione opened #69 "Output dir issue"
Hi , I'm trying to set the output directory. and I keep getting this error , I'm hoping you can help or advise

the command I'm running is
python main.py -i d:\datasets\images_in\ -o d:\datasets\images_out\ --tracker DASIAMRPN -n 125
both Directory's exist

I think my issue is the path is missing a backslash \\

this is what I get on the error
'd:\\datasets\\images_out\\PASCAL_VOCpeople_walking_mp

[2020-04-12 13:20] BFascione commented on #69
I get the same issues if I leave the output dir. as default and only change the input directory

python main.py -i d:\datasets\images_in\  --tracker DASIAMRPN -n 125

FileNotFoundError: [Errno 2] No such file or directory: 'output\\PASCAL_VOCpeople_walking_mp4\\people_walking_mp4_0.xml'
(Tensorflow-05) C:\Users\brian\PycharmProjects\Github\OpenLabeling\main>

[2020-04-13 16:12] Cartucho commented on #69
Yeah, the problem is being caused by the lack of backslash. I have to debug this on windows. There is a `os.path.join` missing somewhere

[2020-04-13 16:16] Cartucho commented on #69
Could you check what is going to the variable `xml_path` in the function `create_PASCAL_VOC_xml()`?

I mean adding a print(xml_path) to line 738

[2020-04-13 18:03] BFascione commented on #69
I've printed out xml_path  from the create_PASCAL_VOC_xml()

this is what I got back .. hope it helps

d:\datasets\images_out\PASCAL_VOCpeople_walking_mp4\people_walking_mp4_0.xml

[2020-04-15 11:09] BFascione commented on #69
I've manged to find a fix/work-around that seems to work

I've added +'\\' to the new_path = os.path.join(OUTPUT_DIR , ann_dir)

see below

def get_annotation_paths(img_path, annotation_formats):
    annotation_paths = []
    for ann_dir, ann_ext in annotation_formats.items():
        new_path = os.path.join(OUTPUT_DIR , ann_dir + '\\')

Brian

[2020-04-15 11:38] #69 closed

[2020-04-15 11:39] Cartucho commented on #69
I think I just fixed it. Could you give it a try with the new version?

[2020-04-17 13:11] BFascione commented on #69
yes works thanks

[2020-04-19 08:43] FengZhiheng opened #70 "How to label a video?"
Hello João Cartucho

Can OpenLabeling label a video? For example frame 1 to 100 are class 1, frame 101 to 200 are class2.
When I put my video(mp4 format) in input/. I got some errors:
`Traceback (most recent call last):
  File "D:/PythonProject/OpenLabeling-1.3/run.py", line 357, in <module>
    cv2.createTrackbar(TRACKBAR_IMG, WINDOW_NAME, 0, last_img_index, change_img_index)
cv2.error: OpenCV(4.

[2020-04-19 08:53] FengZhiheng commented on #70
Ok. I got it. I need to run this project ‘OpenLabeling-master’ not 'OpenLabeling-1.3'. In 'OpenLabeling-master' project I can label my video. Thanks so much

[2020-04-19 08:53] #70 closed

[2020-05-16 19:42] OzgunKB opened #71 "Tensorflow Version"
Error
"module 'tensorflow' has no attribute 'GraphDef'"

I cannot run "main_auto.py". Which version of tensorflow should I install?

[2020-06-04 09:30] ark- commented on #71
Also getting this issue.

Pip list output:

[code]

I installed torch with this command as I have CUDA 10.1

[code]

I installed tensorflow by using `pip install tensorflow`.

Hope the additional info helps.

[2020-06-04 09:33] WillJStone commented on #71
tf.GraphDef was removed in tensorflow 2.0

I personally use tensorflow 1.14 when using this tool and have had no issues. It may work with other versions (1.x) as well but I have not tested them personally.

[2020-06-04 21:22] ark- commented on #71
Fantastic, I removed 2.0 and used `pip install tensorflow==1.15` (This was the latest 1.x listed on https://www.tensorflow.org/install/pip) . It is working now.

[2020-06-07 16:23] koufopoulosf opened #72 "[Windows] Double display on command prompt - Possible solution"
I have anaconda installed on my Windows 10 desktop. I installed OpenLabeling and it was working just fine. Sometimes, when I loaded some images on the input(empty file) and the .txt annotations (from an already annotated dataset) on the output(empty file), to see if I could see the annotation work from ready datasets, the program crashed and I had to restart the command prompt again.

Doing these

[2020-12-14 05:20] aishkul1012 commented on #2
Hey Could you tell me how you solved this problem?
Facing the same error right now!

[2021-02-09 08:05] YeetMasterYeet opened #74 "question regarding the output file"
hello, i hope you are all doing well, i have a question concerning each single numeric value in the output file( yolo), what does each specific number mean? i was able to discover that the first digit of every line is the class id of the detected object but that's it, i also know that the following 4 numbers are the position of the object in question, and i want to have more details if possible ab

[2021-05-03 01:19] christian-cahig commented on #74
@YeetMasterYeet you might find this useful: https://albumentations.ai/docs/getting_started/bounding_boxes_augmentation/#different-annotations-formats

[2021-05-06 10:18] YeetMasterYeet commented on #74
thank you @christian-cahig, indeed useful.

[2021-05-06 10:18] #74 closed, assigned to nobody

[2021-06-18 12:02] DragonDoctor2033 commented on #2
Same for me. Still get the same error. Install OpenCV from pyCharm terminal pip install. Any solutions?

[2021-08-18 22:12] #72 closed, assigned to nobody

[2021-09-17 04:00] anthonyweidai opened #77 "Can you add different Group id for the some obejct on different frames?"
Good repo! Recently, I want to do the tracking work. I need the id infomation in each oject. The class of label is used to detection. But I need id for trajectories.

[2022-03-22 20:38] reemastha706 commented on #2
I know the post is quite old. But I am running into the same problem. Anyone who got it solved? Based on another post on how to use qt with opencv, i downgraded the opencv version, but it's not working.

[2022-06-13 16:37] celiaqt opened #81 "Permission denied (publickey)."